<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VolumeVibe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF80590B2BD62EAE009E601B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF80591B2BD62EB1009E601B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8059252BD62EB1009E601B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
